.gitattributes text eol=lf
.env.example text eol=lf
*.py text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.css text eol=lf
*.bat text eol=lf
*.db binary
*.exe binary
